language: bash

sudo: required

services:
- docker

script:
- echo "hello world"

after_success:
- eval $(docker login --username anand91073 --password prince.k)
- docker build -t anand91073/travis:1 .
- docker push anand91073/travis:1
